.person{
    background-color: darkred;
    position: relative;
    padding: 3px;
    height: 30px;
    width: 30px;
    margin-top: 30px;
    transition: all 8s;
    color: #fff;
    margin-left: 153px;
    text-align: center;
    font-weight: bold;
}
