.container-inner {
    display: block;
    margin: 0 0 0 153px ;
}

.container-main::before{
    content: '';
    height: 20px;
    width: 30px;
    background-color: #00a2a7 ;
    margin-top: -20px ;
    position: absolute;
    border: none;
    z-index: 9999;
}

    .container-main{
        height: 30px;
        width: 30px;
        background-color: white;
        margin-top: 20px;
        border: none;
    }

