/*--- General ---*/

button {
    border: none;
    display: block;
    outline: none;

}

/*--- HomeStyle ---*/
.header {
    background-color: darkred;
    height: 80px;
    padding: 20px 50px;
    color: white;
    font-weight: bold;
    max-width: 100%;
}


/*--- Control panel ---*/
.control-panel {
    padding: 5% 2%;
    margin: 150px 20px 100px 50px;
    border-radius: 0.25rem;
    background-color: hsla(0, 0%, 90%, 1);
    background-image: linear-gradient(-45deg, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, .08));
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.54);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.54);
    text-align: center;
}

.cp_title {
    font-size: 18px;
    font-weight: bold;
}

/*--- building ---*/
.building {
    padding-top: 100px;
    height: 600px;
    background-image: url("./assets/img/office-01.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

/*--- btn container ---*/
.btn_container{
    margin-top: 120px;
    outline: none;
}
